[user]
	name = Andreas Presthammer
	email = aha@gecko.no

[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	st = status
[push]
	default = simple
